html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.label {
  float: right;
  margin: 10px;
  color: #2e6c8b;
  font-weight: 600;
}

.logo {
  height: 20px;
  width: auto;
}
