/* Entur UI component styles - required imports */
@import '@entur/a11y/dist/styles.css';
@import '@entur/button/dist/styles.css';
@import '@entur/expand/dist/styles.css';
@import '@entur/layout/dist/styles.css';
@import '@entur/loader/dist/styles.css';
@import '@entur/tooltip/dist/styles.css';
@import '@entur/typography/dist/styles.css';

/* Custom application styles */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.label {
  float: right;
  margin: 10px;
  color: #2e6c8b;
  font-weight: 600;
}

.logo {
  height: 20px;
  width: auto;
}

.topBarWrap div.topBar {
  height: 48px;
}
div.toolbar > .toolbar-button {
  font-weight: 400;
  padding: 2px 11px 2px 11px;
}
.toolbar-menu-items > li {
  margin: -2px;
}
.CodeMirror-code pre.CodeMirror-line {
  line-height: 1.1rem;
}
