body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.label {
  position: absolute;
  float: right;
  right: 100px;
  margin: 10px;
  font-size: 1.5em;
  color: #2e6c8b;
  font-weight: 600;
}

.logo {
  height: 20px;
  width: auto;
}
